{% extends "__base__.html" %}
{% block title %}{% endblock %}
{% block content %}
<div class="dashboard-content border-dashed p-3 m-4 view-height">

    <div class="mt-4 ml-4 mr-4">
        <div class="row border-bottom border-3">
            <div class="col"><h3 class="color-header text-uppercase">Szczegóły ćwiczenia</h3></div>
            <div class="col d-flex justify-content-end mb-2">
                <a href="/exercises/list/" class="btn btn-color rounded-0 pt-0 pb-0 pr-4 pl-4">Powrót</a>
                <a href="/plan/add-exercises" class="btn btn-success rounded-0 pt-0 pb-0 pr-4 pl-4">Dodaj ćwiczenie do planu</a>
            </div>
        </div>

        <table class="table borderless">
            <tbody>
            <tr class="d-flex">
                <th scope="row" class="col-2">Nazwa Ćwiczenia</th>
                <td class="col-7">
                    {{ exercises.name }}
                </td>
            </tr>
            <tr class="d-flex">
                <th scope="row" class="col-2">Opis ćwiczenia</th>
                <td class="col-7">{{ exercises.description }}
                </td>
            </tr>
            <tr class="d-flex">
                <th scope="row" class="col-2">Czas wykonania</th>
                <td class="col-7">
                    {{ exercises.exercises_time }}
                </td>
            </tr>
             <tr class="d-flex">
                <th scope="row" class="col-2">Liczba polubień</th>
                <td class="col-7">
                    {{ exercises.votes }}
                </td>
            </tr>
            </tbody>
        </table>

        <div class="row d-flex">
            <div class="col-5 border-bottom border-3"><h3
                    class="text-uppercase">Szczegóły</h3></div>
        </div>
        <div class="row d-flex">
            <div class="col-5 p-4">
                <p>{{ exercises.details }}</p>
            </div>

    </div>
    <form action="/exercises/{{exercises.id}}/" method="POST" id="form-add-exercises-details">
    {% csrf_token %}
        <input type="hidden" name="exercises_id" id="exercises_id">
        <div class="col d-flex justify-content-end mb-2">
                    <button type="submit" form="form-add-exercises-details" class="btn button1 btn-color rounded-0 pt-0 pb-0 pr-4 pl-4"
                    name="button" value="button1">Polub ćwiczenie</button>
        </div>
        <div class="col d-flex justify-content-end mb-2">
                    <button type="submit" form="form-add-exercises-details" class="btn button2 btn-color rounded-0 pt-0 pb-0 pr-4 pl-4"
                    name="button" value="button2">Nie lubię tego ćwiczenia</button>
        </div>
    </form>
</div>
{% endblock content %}